@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;1,400;1,600&display=swap');

* {
  margin: 10px;
  padding: 0px;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;

}

header h1 a {
  font-family: Playfair Display, Baskerville, serif;
  font-weight: bold;
  font-size: 25px;
  color: #AB274F;
  text-decoration: none;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}